# About This project

The idea is to practice and develope some SQL skills using an interesting data set with information of the last 120 years of olympic games. New and challenging ideas are welocome.

## Extraction

### Athlete Events

In [1]:


athlete_events = _deepnote_execute_sql("""SELECT *
FROM 'athlete_events.csv'
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
athlete_events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NA
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NA
2,3,Gunnar Nielsen Aaby,M,24,NA,NA,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NA
3,4,Edgar Lindenau Aabye,M,34,NA,NA,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NA
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NA
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NA
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NA
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NA

### Countries

In [2]:


noc_regions = _deepnote_execute_sql("""SELECT *
FROM 'noc_regions.csv'
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
noc_regions

    column0      column1               column2
0       NOC       region                 notes
1       AFG  Afghanistan                  None
2       AHO      Curacao  Netherlands Antilles
3       ALB      Albania                  None
4       ALG      Algeria                  None
..      ...          ...                   ...
226     YEM        Yemen                  None
227     YMD        Yemen           South Yemen
228     YUG       Serbia            Yugoslavia
229     ZAM       Zambia                  None
230     ZIM     Zimbabwe                  None

[231 rows x 3 columns]

## Questions to be answered

### How many olympics games have been held?

In [3]:


all_olympic_games = _deepnote_execute_sql("""SELECT COUNT (DISTINCT games)
FROM athlete_events
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
all_olympic_games

   count(DISTINCT games)
0                     51

### When and where have all olympics been held?

In [4]:


list_all_games = _deepnote_execute_sql("""SELECT
DISTINCT Year, season, city
FROM athlete_events
ORDER BY year
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
list_all_games

    Year  Season                    City
0   1896  Summer                  Athina
1   1900  Summer                   Paris
2   1904  Summer               St. Louis
3   1906  Summer                  Athina
4   1908  Summer                  London
5   1912  Summer               Stockholm
6   1920  Summer               Antwerpen
7   1924  Summer                   Paris
8   1924  Winter                Chamonix
9   1928  Winter            Sankt Moritz
10  1928  Summer               Amsterdam
11  1932  Summer             Los Angeles
12  1932  Winter             Lake Placid
13  1936  Summer                  Berlin
14  1936  Winter  Garmisch-Partenkirchen
15  1948  Summer                  London
16  1948  Winter            Sankt Moritz
17  1952  Summer                Helsinki
18  1952  Winter                    Oslo
19  1956  Summer               Melbourne
20  1956  Winter       Cortina d'Ampezzo
21  1956  Summer               Stockholm
22  1960  Summer                    Roma
23  1960  Winter            Squaw Valley
24  1964  Summer                   Tokyo
25  1964  Winter               Innsbruck
26  1968  Summer             Mexico City
27  1968  Winter                Grenoble
28  1972  Summer                  Munich
29  1972  Winter                 Sapporo
30  1976  Winter               Innsbruck
31  1976  Summer                Montreal
32  1980  Summer                  Moskva
33  1980  Winter             Lake Placid
34  1984  Summer             Los Angeles
35  1984  Winter                Sarajevo
36  1988  Summer                   Seoul
37  1988  Winter                 Calgary
38  1992  Summer               Barcelona
39  1992  Winter             Albertville
40  1994  Winter             Lillehammer
41  1996  Summer                 Atlanta
42  1998  Winter                  Nagano
43  2000  Summer                  Sydney
44  2002  Winter          Salt Lake City
45  2004  Summer                  Athina
46  2006  Winter                  Torino
47  2008  Summer                 Beijing
48  2010  Winter               Vancouver
49  2012  Summer                  London
50  2014  Winter                   Sochi
51  2016  Summer          Rio de Janeiro

### How many countries have participated in each olympic games?

In [5]:


num_countries_each_game = _deepnote_execute_sql("""SELECT 
    DISTINCT ae.games AS olympic_games,
    COUNT(DISTINCT nr.column1) AS number_countries

FROM athlete_events ae
LEFT JOIN noc_regions nr ON nr.column0 = ae.noc

GROUP BY games
ORDER BY games ASC
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
num_countries_each_game

   olympic_games  number_countries
0    1896 Summer                12
1    1900 Summer                31
2    1904 Summer                14
3    1906 Summer                20
4    1908 Summer                22
5    1912 Summer                29
6    1920 Summer                29
7    1924 Summer                45
8    1924 Winter                19
9    1928 Summer                46
10   1928 Winter                25
11   1932 Summer                47
12   1932 Winter                17
13   1936 Summer                49
14   1936 Winter                28
15   1948 Summer                58
16   1948 Winter                28
17   1952 Summer                66
18   1952 Winter                30
19   1956 Summer                70
20   1956 Winter                32
21   1960 Summer                82
22   1960 Winter                30
23   1964 Summer                93
24   1964 Winter                36
25   1968 Summer               110
26   1968 Winter                36
27   1972 Summer               119
28   1972 Winter                34
29   1976 Summer                90
30   1976 Winter                36
31   1980 Summer                80
32   1980 Winter                36
33   1984 Summer               138
34   1984 Winter                48
35   1988 Summer               155
36   1988 Winter                56
37   1992 Summer               167
38   1992 Winter                64
39   1994 Winter                67
40   1996 Summer               195
41   1998 Winter                72
42   2000 Summer               198
43   2002 Winter                76
44   2004 Summer               199
45   2006 Winter                78
46   2008 Summer               202
47   2010 Winter                81
48   2012 Summer               203
49   2014 Winter                88
50   2016 Summer               204

### Ranking of every olympic games, according to the number of countries that participated

In [68]:


ranking_games = _deepnote_execute_sql("""SELECT 
    DISTINCT ae.games AS olympic_games,
    COUNT(DISTINCT nr.column1) AS number_countries,
    RANK() OVER(ORDER BY COUNT(DISTINCT nr.column1)DESC) AS ranking

FROM athlete_events ae
LEFT JOIN noc_regions nr ON nr.column0 = ae.noc

GROUP BY games
ORDER BY games DESC
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
ranking_games

   olympic_games  number_countries  ranking
0    2016 Summer               204        1
1    2014 Winter                88       14
2    2012 Summer               203        2
3    2010 Winter                81       16
4    2008 Summer               202        3
5    2006 Winter                78       18
6    2004 Summer               199        4
7    2002 Winter                76       19
8    2000 Summer               198        5
9    1998 Winter                72       20
10   1996 Summer               195        6
11   1994 Winter                67       22
12   1992 Winter                64       24
13   1992 Summer               167        7
14   1988 Winter                56       26
15   1988 Summer               155        8
16   1984 Winter                48       28
17   1984 Summer               138        9
18   1980 Winter                36       32
19   1980 Summer                80       17
20   1976 Winter                36       32
21   1976 Summer                90       13
22   1972 Winter                34       36
23   1972 Summer               119       10
24   1968 Winter                36       32
25   1968 Summer               110       11
26   1964 Winter                36       32
27   1964 Summer                93       12
28   1960 Winter                30       39
29   1960 Summer                82       15
30   1956 Winter                32       37
31   1956 Summer                70       21
32   1952 Winter                30       39
33   1952 Summer                66       23
34   1948 Winter                28       43
35   1948 Summer                58       25
36   1936 Winter                28       43
37   1936 Summer                49       27
38   1932 Winter                17       49
39   1932 Summer                47       29
40   1928 Winter                25       45
41   1928 Summer                46       30
42   1924 Winter                19       48
43   1924 Summer                45       31
44   1920 Summer                29       41
45   1912 Summer                29       41
46   1908 Summer                22       46
47   1906 Summer                20       47
48   1904 Summer                14       50
49   1900 Summer                31       38
50   1896 Summer                12       51

### Which games saw the highest and lowest No. of countries participating in olympics?

In [63]:


most_least_countries = _deepnote_execute_sql("""WITH games_countries AS (

    SELECT 
        ae.games AS games,
        nr.column1 AS country
    FROM 
        athlete_events ae
    JOIN noc_regions nr ON ae.noc = nr.column0
    GROUP BY ae.games, nr.column1
),

    number_countries AS (

    SELECT 
        games,
        COUNT(country) AS number_countries
    FROM
        games_countries
    GROUP BY games
    )

SELECT DISTINCT
    CONCAT(FIRST_VALUE(games) OVER(ORDER BY number_countries), ' - ' ,FIRST_VALUE(number_countries) OVER(ORDER BY number_countries), ' countries') AS least_countries,
    CONCAT(FIRST_VALUE(games) OVER(ORDER BY number_countries DESC), ' - ', FIRST_VALUE(number_countries) OVER(ORDER BY number_countries DESC),' countries') AS most_countries
FROM
    number_countries 

""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
most_least_countries

              least_countries               most_countries
0  1896 Summer - 12 countries  2016 Summer - 204 countries

### Nations that participated in all olympic games

#### If we have the value of total number of olympic games.

In [69]:


countries_all_games1 = _deepnote_execute_sql("""SELECT 
    nr.column1 AS countries,
    COUNT(DISTINCT ae.games) AS olympic_games

FROM athlete_events ae
LEFT JOIN noc_regions nr ON nr.column0 = ae.noc

GROUP BY nr.column1

HAVING COUNT(DISTINCT ae.games) = 51
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
countries_all_games1

     countries  olympic_games
0       France             51
1        Italy             51
2  Switzerland             51
3           UK             51

##### Without having the value of total number of olympic games

In [70]:


countries_all_games2 = _deepnote_execute_sql("""WITH total_games AS (

    SELECT 
        COUNT (DISTINCT games) AS total_games 
        FROM athlete_events
    ),

    games_countries AS (
    
    SELECT 
        ae.games AS games,
        nr.column1 AS country

        FROM athlete_events ae
        JOIN noc_regions nr ON nr.column0=ae.noc
        GROUP BY games, nr.column1
    ),

    countries_participations AS (

    SELECT 
    country AS country,
    COUNT(*) AS number_games

    FROM games_countries

    GROUP BY country   
)

SELECT cp.country, cp.number_games
FROM countries_participations cp
JOIN total_games tg ON cp.number_games = tg.total_games
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
countries_all_games2

       country  number_games
0       France            51
1        Italy            51
2  Switzerland            51
3           UK            51

In [73]:
athlete_events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NA
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NA
2,3,Gunnar Nielsen Aaby,M,24,NA,NA,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NA
3,4,Edgar Lindenau Aabye,M,34,NA,NA,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NA
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NA
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NA
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NA
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NA

In [74]:
noc_regions

    column0      column1               column2
0       NOC       region                 notes
1       AFG  Afghanistan                  None
2       AHO      Curacao  Netherlands Antilles
3       ALB      Albania                  None
4       ALG      Algeria                  None
..      ...          ...                   ...
226     YEM        Yemen                  None
227     YMD        Yemen           South Yemen
228     YUG       Serbia            Yugoslavia
229     ZAM       Zambia                  None
230     ZIM     Zimbabwe                  None

[231 rows x 3 columns]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2d3806b4-f613-46a3-bb26-bf009320902b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>